@{
    ViewData["Title"] = "Home Page";
}

@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>*@

<div class="contain">
    <div class="header-section">
        <div class="header-section__title">Social Rating</div>
        <div class="header-section__desc">Rate your friends anonimously. No names, just emotions and numbers</div>
    </div>
    <div class="image-section">
        <div class="image-section__first-step">
            <div class="image-section__text-block">
                <div class="image-section__headline">
                    Choose a friend
                </div>
            </div>
        </div>
        <div class="image-section__second-step">
            <div class="image-section__text-block">
                <div class="image-section__headline">
                    Think of emotion
                </div>
            </div>
        </div>
        <div class="image-section__third-step"><div class="image-section__text-block">
            <div class="image-section__headline">
                React to that friend
            </div>
        </div>
        </div>
    </div>
</div>